{% load bootstrap4 %}
{% load static %}

<html>
<head>
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_css %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio/me.css' %}"/>
    {% bootstrap_messages %}
    {% block custom-css %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Chris Humphreys</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}#portfolio">Portfolio</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}#contact">Contact Me</a>
            </li>
        </ul>
        <ul class="navbar-nav flex-row">
            <li class="nav-item"><a class="nav-link px-2" href="https://twitter.com/ChrisCHumphre"><span class="fab fa-twitter-square"></span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="https://www.linkedin.com/in/christopher-humphreys-b15446a5"><span class="fab fa-linkedin"></span></a></li>
            <li class="nav-item"><a class="nav-link px-2" href="https://github.com/ChrisCHumphreys"><span class="fab fa-github"></span></a></li>
        </ul>

        </ul>
    </div>
</nav>

{% block content %}

{% endblock content %}
</body>
</html>