{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="my-3 text-center">Chris Humphreys</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/profilepic.jpeg' %}"
                    class="rounded my-3 mx-auto d-block" alt="Picture of Chris Humphreys">
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="jumbotron">
                    <h1 class="display-4">Education/Skills</h1>
                    <p class="lead">Bachelor of Arts - Political Science<br>
                                    University of Idaho - 2002</p>
                    <hr class="my-4">
                    <p class="lead">Bachelor of Science - Computer Science<br>
                    University of Tennessee at Martin - Present</p>
                    <hr class="my-4">
                    <p class="lead">Programming Languages</p>
                    <p class="">Python, C++, C, C#, Java, JavaScript, PHP, Prolog</p>
                    <hr class="my-4">
                    <p class="lead">Frameworks and Tools</p>
                    <p class="">Django, CSS, JQuery, React, HTML, Bootstrap</p>
                </div>
            </div>
            <div class="col-lg">
                <div class="jumbotron">
                    <h1 class="display-4">About Me</h1>
                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                        attention to featured content or information.</p>
                    <hr class="my-4">
                    <p>It uses utility classes for typography and spacing to space content out within the larger
                        container.</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

