{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid" id="home">
        <div class="row">
            <div class="col-12">
                <h1 class="my-3 text-center">Chris Humphreys</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="text-center">I like coding, making bread, and fishing.</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/profilepic.jpeg' %}"
                     class="rounded my-3 mx-auto d-block" alt="Picture of Chris Humphreys">
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="jumbotron">
                    <h1 class="display-4">Education and Skills</h1>
                    <p class="lead">Bachelor of Arts - Political Science</p>
                    <p class="">University of Idaho - 2002</p>
                    <hr class="my-4">
                    <p class="lead">Bachelor of Science - Computer Science</p>
                    <p class="">University of Tennessee at Martin - Present</p>
                    <hr class="my-4">
                    <p class="lead">Programming Languages</p>
                    <p class="">Python, C++, C, C#, Java, JavaScript, PHP, Prolog</p>
                    <hr class="my-4">
                    <p class="lead">Frameworks and Tools</p>
                    <p class="">Django, CSS, JQuery, React, HTML, Bootstrap</p>
                    <hr class="my-4">
                    <p class="lead">Awards and Certifications</p>
                    <p class="">First Place - 2017 Murray State Hackathon</p>
                    <a href="https://www.freecodecamp.org/geochris35/front-end-certification">
                        <p class="text-primary">FreeCodeCamp Front End Web Dev Certification</p>
                    </a>
                    <p class="">Treasurer - UTM Chapter of Association of Computing Machinery</p>
                    <p class="">Founder - UTM/ACM Hackathon Group</p>
                </div>
            </div>
            <div class="col-lg">
                <div class="jumbotron">
                    <h1 class="display-4">About Me</h1>
                    <p class="">My name is Chris Humphreys and I am a student of Computer
                        science at the University of Tennessee at Martin. I
                        maintain a 4.0 GPA and expect to graduate in December of 2019.</p>
                    <p class="">Before starting my formal education in Computer Science I
                        taught myself to code using online resources, while working full time in
                        a business management role. It is through this self training that I
                        learned my true passion was working with computers and coding. Because of this I left
                        a stable, well paying job to go back to school. I am now approximately half
                        way through my second bachelors degree and couldn't be happier with the
                        decisions I have made.</p>
                    <p class="">I also love to bake sourdough bread, and go fishing at the
                        various lakes and ponds of western Tennessee.</pclass>
                    <p class="">I am currently looking for an internship for the summer of 2018.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="portfolio">
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center my-3">Portfolio</h1>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto col-lg-4">
                <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 30rem;">
                    <div class="card-header">Tic Tac Toe</div>
                    <div class="card-body">
                        <h4 class="card-title">Tic Tac Toe in Your Browser</h4>
                        <a href="{% url 'tictactoe' %}">
                            <img src="{% static 'images/tic.png' %}" alt="A screenshot of the tic tac toe page"
                                 class="img-thumbnail">
                            <p class="card-text">HTML, CSS, JavaScript, JQuery, Bootstrap 3</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mx-auto col-lg-4">
                <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 30rem;">
                    <div class="card-header">Simon</div>
                    <div class="card-body">
                        <h4 class="card-title">Play the 80's Classic</h4>
                        <a href="{% url 'simon' %}">
                            <img src="{% static 'images/simon-thumb.png' %}" alt="A screenshot of the simon game page"
                                 class="img-thumbnail">
                            <p class="card-text">HTML, CSS, JavaScript, JQuery, Bootstrap 3</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card text-white bg-primary mb-3 mx-auto" style="max-width: 30rem;">
                    <div class="card-header">Weather App</div>
                    <div class="card-body">
                        <h4 class="card-title">Little Weather App that shows weather based on location.</h4>
                        <a href="{% url 'weather' %}">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

