{% extends 'portfolio/base.html' %}

{% load static %}

{% block custom-css %}
    <title>Tic-Tac-Toe</title>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <!--
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    -->
    <link rel="stylesheet" type="text/css" href="{% static 'tictactoe/ttt.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 title">
                <h1>Tic Tac Toe</h1>
            </div>
        </div>
        <div class="row spacer"></div>
        <div class="row">
            <div class="col-4">
                <h3 class="center">Choose Piece</h3>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-4 square upperLeft point" id="1"></div>
                    <div class="col-4 square upperMiddle point" id="2"></div>
                    <div class="col-4 square upperRight point" id="3"></div>
                </div>
            </div>
            <div class="col-4 computerScore">
                <h3>Computer -&gt; 0</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-6 choice point" id="X">
                        <h3>X</h3>
                    </div>
                    <div class="col-6 choice point" id="O">
                        <h3>O</h3>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-4 square midLeft point" id="4"></div>
                    <div class="col-4 square midMiddle point" id="5"></div>
                    <div class="col-4 square midRight point" id="6"></div>
                </div>
            </div>
            <div class="col-4 playerScore">
                <h3>Player -&gt; 0</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 center">
                <h3>X always goes first</h3>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-4 square bottomLeft point" id="7"></div>
                    <div class="col-4 square bottomMiddle point" id="8"></div>
                    <div class="col-4 square bottomRight point" id="9"></div>
                </div>
            </div>
        </div>
        <div class="row spacer"></div>
    </div>
    <!--
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
    -->
    <script src="{% static 'tictactoe/ttt.js' %}"></script>
{% endblock %}